#g-wsi_deid-form
  .g-hui-description
    font-size 12px
    margin 0 0 2px

  input[type="checkbox"]
    margin-right 7px
    height 13px

  #g-advanced-settings-tab
    background-color rgb(240, 238, 231)
