.g-hui-redact-label
  text-transform uppercase
  font-weight bold
  font-size 12px
  margin-left 10px
  display inline-block
  .g-hui-redact
    margin-left 5px
    font-weight normal
    text-transform none

.large_image_metadata_value.redacted
  text-decoration-line line-through
  text-decoration-color black
  text-decoration-style solid
  .redact-replacement
    margin-left 10px
    text-decoration-line none
    display inline-block
  .g-hui-redact-label
    text-decoration-line none

.g-widget-auximage-image
  position relative
.g-widget-auximage.redacted
  .g-widget-auximage-image:after
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    content "\a0"
    background linear-gradient(to top left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) calc(50% - 4px), rgba(0, 0, 0, 1) calc(50% - 3px), rgba(0, 0, 0, 1) calc(50% + 3px), rgba(0, 0, 0, 0) calc(50% + 4px), rgba(0, 0, 0, 0) 100%), linear-gradient(to top right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) calc(50% - 4px), rgba(0, 0, 0, 1) calc(50% - 3px), rgba(0, 0, 0, 1) calc(50% + 3px), rgba(0, 0, 0, 0) calc(50% + 4px), rgba(0, 0, 0, 0) 100%)
  .g-widget-auximage-image img
    opacity 0.5

.g-widget-metadata-container.workflow .g-workflow-button
  margin 10px

.g-hui-loading-overlay
  position fixed
  width 100vw
  height 100vh
  top 0
  left 0
  background rgba(0, 0, 0, 0.3)
  div
    font-size 60px
    position relative
    left 50%
    top 50%
    transform translate(-50%, -50%)
    text-align center
