.wsi_deid_bulk_wrapper
  overflow-x auto
  margin 0
  padding 0
  max-height calc(100vh - 200px)

  .wsi_deid_bulk_table>thead>tr>th
    padding-left 4px
    padding-right 4px
    text-align center
    position sticky
    top 0
    z-index 10
    background-color white

  .wsi_deid_bulk_table
    .large_image_thumbnail
      margin-right 5px

    tr
      border-bottom #EEE solid 1px

    td
      padding-top 1px

.large_image_metadata_value.redacted
  text-decoration-line line-through
  text-decoration-color black
  text-decoration-style solid

  .redact-replacement
    margin-left 10px
    text-decoration-line none
    display inline-block

  .g-hui-redact-label
    text-decoration-line none

  .wsi-deid-replace-value
    display inline-block

  a.g-hui-redact>span
    text-decoration-line line-through
