.g-hui-redact
  text-transform uppercase
  font-weight bold
  font-size 12px
  margin-left 10px
  &.undo span
    text-decoration-line line-through
    text-decoration-color black
    text-decoration-style solid

.large_image_metadata_value.redacted
  text-decoration-line line-through
  text-decoration-color black
  text-decoration-style solid
  .redact-replacement
    margin-left 10px
    text-decoration-line none
    display inline-block

.g-widget-metadata-container.workflow .g-workflow-button
  margin 10px

.g-hui-loading-overlay
  position fixed
  width 100vw
  height 100vh
  top 0
  left 0
  background rgba(0, 0, 0, 0.3)
  div
    font-size 60px
    position relative
    left 50%
    top 50%
    transform translate(-50%, -50%)
    text-align center
