.modal-dialog.matching-dialog
  label
    min-width 175px

  input.form-control
    display inline-block
    width 275px

  .form-group
    margin-bottom 7px

    button
      margin-left 15px

  #lookup-results
    th:first-child, td:first-child
      padding-left 0

    th, td
      padding-left 10px
