---
services:
  girder:
    # Change "stable" to a version number (e.g., dsarchive/wsi_deid:v1.0.0) to
    # to use a fixed version
    # image: dsarchive/wsi_deid:stable
    volumes:
      - c:\NCI_WSI:/import
      - c:\DeID_WSI:/export
      # Uncomment to use a specific directory for redacted and processed WSI
      # - c:\Processed_WSI:/assetstore
      # Uncomment to use a custom girder configuration file.  This can be a
      # relative path or an absolute path.
      # - ./girder.local.conf:/conf/girder.local.conf
      # Uncomment to use a custom import schema. This can be a relative path
      # or an absolute path.
      # - ../../wsi_deid/schema/importManifestSchema.json:/usr/local/lib/python3.9/dist-packages/wsi_deid/schema/importManifestSchema.json
      # Alternately, you could use the allow all schema:
      # - ./girder.local.example.allowall.conf:/conf/girder.local.conf
      # - ./importManifestSchema.example.allowall.json:/usr/local/lib/python3.9/dist-packages/wsi_deid/schema/importManifestSchema.json
    # Use a specific quantity of memory; this is necessary on some Windows/OSX
    # deployments.  Uncomment if needed.  4g is the minimum is not using
    # iSyntax, with iSyntax 12g
    # deploy:
    #   resources:
    #     limits:
    #       memory: 12g
  # Uncomment this to specify an explicit database directory
  # mongodb:
  #   volumes:
  #     - c:\WSI_Database:/data/db
