.g-hui-redact
  text-transform uppercase
  font-weight bold
  font-size 12px
  margin-left 10px
  &.undo span
    text-decoration-line line-through
    text-decoration-color black
    text-decoration-style solid

.large_image_metadata_value.redacted
  text-decoration-line line-through
  text-decoration-color black
  text-decoration-style solid
  .redact-replacement
    margin-left 10px
    text-decoration-line none
    display inline-block

.g-widget-metadata-container.workflow .g-workflow-button
  margin 10px
