.g-widget-redact-area-container
  button.h-draw.btn.btn-sm.btn-default(type='button', title='Draw an area to redact or clear the existing area', keyname=keyname)
    span.redact-area
      i.icon-check-empty
      | Redact Area
    span.cancel-area
      i.icon-minus-squared-alt
      | Cancel Area
    span.unredact-area
      i.icon-minus-squared-alt
      | Clear Area
