{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "safari":   "11",
        "firefox":  "60",
        "chrome":   "70",
        "ie":       "11",
        "edge":     "17"
      },
      "modules":false,
      "loose":true
    }]
  ]
}